
// COLORS

@topBarBgColor: #fcc002;
/*@topBarBorderColor: #a0a0a0;*/

@headerBgColor: #c7e8fb;
@headerBorderColor: #94ccf0;

@trooperTypeFontColor: #0094d1;
@trooperIscTitleFontColor: white;

@tableRowAlternateColor: #e6e6e6;

@weaponsTableRowAlternateColor: #d4edfc;
@weaponsTableHeaderBgColor: #fcc002;

// BODY

body{
    margin: 0;
    padding: 0;

    /*font-family: open-sans, sans-serif;*/
    font-family: 'Bitstream Vera', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
}

// COMMON

.ia-warning {
    font-weight: bold;
    color: red;
    text-decoration: underline;
}

// MAIN

.ia-mainScreenTopBar{    
    margin-left: auto;
    margin-right: auto;
    max-width: 850px;
    padding: 0 5px;
    position: relative;

    /*border: 2px solid @topBarBorderColor;*/
    /*border-radius: 0 0 15px 15px;*/
    /*border-top: 0;*/
    background-color: @topBarBgColor;
}
#ia-mainScreenCenter{
    margin-top:10px;
}
#ia-mainMenuButton{
    width: 40px;
    height: 40px;  
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 5;

    cursor: pointer;
}

// MAIN MENU

.ia-mainMenuFactionButton{
    width: 40px;
    height: 40px;
    padding: 5px;
    display: inline-block;

    cursor: pointer;
}

// UNIT SELECTOR

#ia-unitSelectorContainer {
    box-sizing: border-box;
    width: 100%;
    padding: 0 25px+40px+5px;
    position: relative;
}
#ia-unitSelectorScrollerContainer {
    /*width: 100%;*/
    width: 100%;
    display: inline-block;
    overflow: hidden;
}
.ia-unitSelectorSpacer{
    display: inline-block;
    width: 300px;
    height: 100%;
}
#ia-unitSelectorScroller{
    white-space: nowrap;

    .ia-unitSelector{
        display: inline-block;
        /*margin-left: 5px;*/
        width: 40px;
        height: 40px;
        padding: 5px;
        /*padding: 0 5px;*/

        cursor: pointer;
        &:hover{
            background-image: url('../img/theme/topBarrHexaBg1.png');
            background-size: 50px 50px;
        }
    }
}
#ia-unitSelectorScrollButtonLeft, #ia-unitSelectorScrollButtonRight{
    display: inline-block;
    height: 100%;
    width: 25px;
    position: absolute;
    /*height: 50px;*/
    top:0;

    background-size: 100% 100%;
    cursor: pointer;
}
#ia-unitSelectorScrollButtonLeft{
    left:0+40px+5px;
    background-image: url('../img/theme/scrollButtonLeftBg.png');
}
#ia-unitSelectorScrollButtonRight{
    right:0;
    background-image: url('../img/theme/scrollButtonRightBg.png');
}

//WEAPONS

#ia-weaponsDisplayWrapper{    
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}
#ia-weaponsDisplayCenter{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    position: relative;
}
#ia-weaponsDisplayButton{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 10px 5px 50px;
    z-index: 8;
    height: 25px;

    cursor: pointer;
    background-image: url('../img/theme/arrowButtonUpBg.png');
    background-size: 55px 35px;
    background-color: @weaponsTableHeaderBgColor;
    background-repeat: no-repeat;
    font-weight: bold;
    line-height: 25px;
}
#ia-weaponsDisplayContainer{
    z-index: 10;
    position: relative;

    background-color: white;
}
.ia-weaponsDisplayTable{
    width: 100%;
    border-collapse: collapse;

    tr:nth-child(odd) {
        background-color: @weaponsTableRowAlternateColor;
    }
    th{
        padding: 2px 5px;

        background-color: @weaponsTableHeaderBgColor;
    }
    td{
        padding: 2px;
    }
    td:nth-child(1){
        padding-left: 10px;
    }
    .ia-weaponDamageCell, .ia-weaponBurstCell, .ia-weaponAmmunitionsCell, .ia-weaponRangeReplacerCell {
        text-align: center;
    }
    td.ia-weaponRangeCell{
        text-align: center;
        padding: 2px 0;
        width: 30px;
    }
    .ia-weaponRangeCellContent{
        /*        height: 100%;
                width: 100%;*/
        padding: 2px 0;
    }
    tbody tr:nth-child(1) .ia-weaponRangeCell{
        padding-top: 5px;
    }
    th.ia-weaponRangeCell{
        text-align: right;
        padding-left: 0;

        font-style: italic;
    }
    .ia-weaponMode{
        font-style: italic;
    }
    .ia-weaponRangeSpec{
        font-weight: normal;
    }
    .ia-weaponNameCell{
        position: relative;
        min-width: 150px;
    }
    .ia-weaponDownButton{
        position:absolute;
        top:5px;
        left:2px;
        z-index: 12;
        width: 45px;
        height: 25px;

        cursor: pointer;
        background-image: url('../img/theme/arrowButtonDownBg.png');
        background-size: 100% 100%;
    }
}

// ROSTER

#ia-rosterContainerOnTopBar{
    /*display: inline-block;*/
    float: right;
}
.ia-rosterTrooperEntry{

    cursor: pointer;
    &.ia-selected{
        color: yellow;
        text-shadow: 1px 1px black;
    }
}
.ia-rosterTopBar{
    cursor: pointer;
}
.ia-rosterTrooperEntryLogo{
    width: 16px;
    height: 16px;
}
#ia-rosterContainerOnTopBar .ia-rosterBody{
    /*display: none;*/
    margin-top: 5px;
}
#ia-rosterContainerOnTopBar .ia-rosterContainer{
    position: fixed;
    top: 0;
    right: 0;
    /*padding: 5px;*/
    padding: 5px 10px 5px 10px;
    border-radius: 0 0 0 5px;
    z-index:5;

    background-color: @headerBgColor;
    border: 2px solid @headerBorderColor;
    border-top: 0;
    border-right: 0;
}
/*#ia-rosterContainerOnTopBar.ia-showRosterBody .ia-rosterContainer{
    position: fixed;
    top:0;
    right:0;
    z-index:10;
    width: 300px;
    padding: 5px 5px 10px 10px;

    border: 2px solid @headerBorderColor;
    border-top: 0;
    border-right: 0;
    background-color: @headerBgColor;

    .ia-rosterBody{
        display: block;
    }
}*/
.ia-rosterTable{
    width: 100%;
    border-collapse: collapse;
    .ia-rosterEntrySwcCell, .ia-rosterEntryCostCell{
        text-align: center;
    }
    tr:nth-child(even) {
        background-color: @tableRowAlternateColor;
    }
}

// TROOPER SELECTOR 

.ia-trooperSelectorContainer{
    margin-left: auto;
    margin-right: auto;
    width: 798px;
}
.ia-trooperSelectorHeader, .ia-trooperSelectorOptionListFooter, .ia-trooperSelectorOptionListHeader{
    border: 2px solid @headerBorderColor;
    background-color: @headerBgColor;
}
.ia-trooperSelectorHeader{
    padding: 5px;
    position: relative;

    font-size: 18px;
}
.ia-trooperClassification{
    position: absolute;
    bottom: 7px;
    right: 5px;

    font-size: 14px;
}
.ia-trooperSelectorMain{
    width: 798px;
    height: 170px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;

    background-image: url('../img/theme/trooperSelectorBg1.png');

    .ia-trooperType{
        position: relative;
        top: 38px;
        left: 4px;
        text-align: center;
        width: 40px;
        display: block;

        color: @trooperTypeFontColor;
        font-weight: bolder;
        font-size: small;
        letter-spacing: -1px;
    }
    .ia-trooperIscContainer{        
        position: absolute;
        top: 2px;
        left: 185px;
        width: 550px;
        height: 50px;
        line-height: 50px;
    }
    .ia-trooperIsc{
        display: inline-block;
        vertical-align: middle;
        line-height: normal;

        color: @trooperIscTitleFontColor;
        /*text-transform: uppercase;*/
        font-size: 18px;
        text-shadow: 2px 2px black;
    }
    .ia-trooperEquipments, .ia-trooperSkills{
        position: absolute;
        left: 185px;
        max-width: 600px;

        text-shadow: 1px 1px darkgray;
    }
    .ia-trooperEquipments{
        bottom: 40px;      
    }
    .ia-trooperSkills{
        bottom: 20px;
    }
    .ia-trooperLogo{
        position: absolute;
        top: 28px;
        left: 39px;
        width: 104px;
        height: 104px;
        z-index: -1;
    }
    .ia-trooperIcon{
        width:32px;
        height:32px;
    }
    .ia-trooperCube, .ia-trooperTraining, .ia-trooperImpetuosity, .ia-trooperHackable {
        position: absolute;
    }
    .ia-trooperCube{
        top: 66px;
        left: 0px;
    }
    .ia-trooperTraining{
        top: 103px;
        left: 11px;
    }
    .ia-trooperImpetuosity{
        top: 129px;
        left: 38px;
    }
    .ia-trooperHackable {
        top: 139px;
        left: 75px;
    }
}
.ia-trooperSelectorAttributesTable{
    position: absolute;
    width: 600px;
    top: 54px;
    left: 170px;
    th, td{
        text-align: center;
        font-weight: bold;
        font-size: 16px;
    }
}
.ia-trooperSelectorOptionList{
    padding: 0 5px;
}
.ia-trooperSelectorOptionListTable{
    width: 100%;
    border-collapse: collapse;
    th{
        text-align: left;
        padding: 4px;
    }
    .ia-trooperSelectorOptionSwcCell, .ia-trooperSelectorOptionCostCell{
        text-align: center;
    }
    tr:nth-child(even) {
        background-color: @tableRowAlternateColor;
    }
    .ia-trooperSelectorOptionRow{
        text-shadow: 1px 1px white;
    }
    .ia-trooperSelectorOptionRow.ia-selected{
        color: yellow;
        text-shadow: 1px 1px black;
    }
}
.ia-trooperSelectorOptionRow{

    cursor: pointer;

    td{
        padding: 4px;
    }
}
.ia-troopetSelectorOptionName{
    text-transform: uppercase;
}
.ia-trooperSelectorOptionListFooter{
    height: 3px;
}