
// COLORS

@headerBgColor: #c7e8fb;
@headerBorderColor: #94ccf0;

@trooperTypeFontColor: #0094d1;
@trooperIscTitleFontColor: white;

@tableRowAlternateColor: #e6e6e6;

// BODY

body{
    /*font-family: open-sans, sans-serif;*/
    font-family: 'Arial Narrow', Arial, sans-serif;
}

// MAIN

.ia-mainContainer{
    margin-left: auto;
    margin-right: auto;
    width: 798px;
}

// UNIT SELECTOR CONTAINER

.ia-trooperSelectorContainer{
    width: 798px;
}
.ia-trooperSelectorHeader, .ia-trooperSelectorOptionListFooter, .ia-trooperSelectorOptionListHeader{
    border: 2px solid @headerBorderColor;
    background-color: @headerBgColor;
}
.ia-trooperSelectorHeader{
    padding: 5px;
    position: relative;

    font-weight: bold;
}
.ia-trooperClassification{
    position: absolute;
    bottom: 7px;
    right: 5px;
    font-size: smaller;
}
.ia-trooperSelectorMain{
    width: 798px;
    height: 170px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;

    background-image: url('../img/theme/trooperSelectorBg1.png');

    .ia-trooperType{
        position: relative;
        top: 38px;
        left: 4px;
        text-align: center;
        width: 40px;
        display: block;

        color: @trooperTypeFontColor;
        font-weight: bolder;
        font-size: small;
        letter-spacing: -1px;
    }
    .ia-trooperIscContainer{        
        position: absolute;
        top: 2px;
        left: 185px;
        width: 550px;
        height: 50px;
        line-height: 50px;
    }
    .ia-trooperIsc{
        display: inline-block;
        vertical-align: middle;
        line-height: normal;

        color: @trooperIscTitleFontColor;
        text-transform: uppercase;
        font-size: larger;
    }
    .ia-trooperEquipments, .ia-trooperSkills{
        position: absolute;
        left: 185px;
    }
    .ia-trooperEquipments{
        top: 113px;        
    }
    .ia-trooperSkills{
        top: 134px;
    }
    .ia-trooperLogo{
        position: absolute;
        top: 28px;
        left: 39px;
        width: 104px;
        height: 104px;
        z-index: -1;
    }
}
.ia-trooperSelectorAttributesTable{
    position: absolute;
    width: 600px;
    top: 54px;
    left: 170px;
    td{
        text-align: center;
        font-weight: bold;
    }
}
.ia-trooperSelectorOptionList{
    padding: 0 5px;
}
.ia-trooperSelectorOptionListTable{
    width: 100%;
    border-collapse: collapse;
    th{
        text-align: left;
        padding: 4px;
    }
    .ia-trooperSelectorOptionSwcCell, .ia-trooperSelectorOptionCostCell{
        text-align: center;
    }
    tr:nth-child(even) {
        background-color: @tableRowAlternateColor;
    }
}
.ia-trooperSelectorOptionRow{
    td{
        padding: 4px;
    }
}
.ia-troopetSelectorOptionName{
    text-transform: uppercase;
}
.ia-trooperSelectorOptionListFooter{
    height: 3px;
}